html {
	text-align: center;
	font: 13px/18px Arial, sans-serif;
	color: #4c4c4c
}

.logo {
	position: relative;
	display: block;
	top: 192px;
	margin: auto;
}
nav {
	display: block;
	position: absolute;
	bottom: -5px;
	background-color: #f2f2f2;
	border-top: 1px solid #ebebeb;
	margin: 8px 2px;
	height: 37px;
	text-decoration: none;
	width: 1275px;
	line-height: 0px;
	color: #666666;
	font: 13pt;
}
	
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

li {
	display: inline-block;
	padding: 20px 13.5px;


}
a:link {
	color: #666666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #666666;
}

input[type=submit] {
	border-radius: 0;
	border-style: none;
	background: -moz-linear-gradient(#f1f1f1, #f2f2f2);
	background: -webkit-linear-gradient(#f1f1f1, #f2f2f2);
	background:linear-gradient(#f1f1f1, #f2f2f2);
	border: solid 1px #dadada;
	font-weight: 900;
	font-size: .75em;
	color: #444444;
	top: 346px;

}
input[type=submit]:hover {
	box-shadow: .25px .5px 1px #444444;
	background-color: #f2f2f2;
	outline: none;
}
.google {
	width: 96px;
	margin: 10px;
	height: 29px;
	display: inline-block;
	position: absolute;
	left: 519px;
}

.lucky {
	width: 110px;
	margin: 10px;
	height: 29px;
	display: inline-block;
	position: absolute;
	right: 519px;
}

/*Nav Bar*/
.left {
	position: absolute;
	left: 15px;
}

.right {
	position: absolute;
	right: 13px;
}

input[type=text] {
	width: 550px;
	height: 8px;
	padding: 10px;
	position: relative;
	top: 213px;
	display: block;
	right: -354px;
	border: solid 1px #dddddd;
	font-size: 10pt;
	outline: none;
	
}

input[type=text]:focus {
	border: solid 1px #4a79f9;
	outline: none;
}

input[type=text]:hover {
	border: solid 1px #c4c4c4;
	outline: none;
}
